h1 {color: rgb(255, 255, 255);}
h2 {color: rgb(255, 255, 255);}
table {color: rgb(255, 255, 255);}
details {color: rgb(255, 255, 255);}
a {color: rgb(255, 255, 255);}

h1 {
    font-family: Courier, Arial, "Times new Roman";
}
h2 {
    font-family: Courier, Arial, "Times new Roman";
}
table {
    font-family: Courier, Arial, "Times new Roman";
}
details {
    font-family: Courier, Arial, "Times new Roman";
}


